page-inviataion-detail {
    .content{
        position: relative;
        background: $inviataion_detail_background;

        ion-item.item.item-block.item-ios, ion-item.item.item-block.item-md 
        {
            align-items: center
        }
        .myitem{
            float: left;
            margin-top: 10px;
            align-items: center;
            ion-input{
                vertical-align: middle;
            }

            img
            {
                width: 50px;
                height: 50px;   
            }
        }

    }


    .mybutton{
        position: absolute;
        bottom: 10vh;
        width: 60vw;
        height: 40px;
        background-color: map-get($colors, welcomebutton);
        font-size: 15pt;
        border-radius: 20px; 
        left: 20vw;
        right: 20vw;   
}
}   

ion-item.item.item-block.item-ios, ion-item.item.item-block.item-md 
{
    align-items: center;
}

.item-ios.item-block .item-inner , .item-md.item-block .item-inner 
{
    border-bottom: none;
}