page-main-detail {
    .content{
        padding-top: 0 !important;

        ion-item{
          margin-top: 10px;
          p{
            margin-left: map-get($padding , twenty);
          }
        }

        .back_button
        {
          position: fixed;
          top: 10px;
          left: 20px;
          width: 40px;
          height: 40px;
          ion-icon {
            font-size: 40px; //Preferred size here
          }
        }

        .top_images{
            width: 100%;
            height: 50vh;
            margin: 0 !important;
            slide-background, ion-slides{
                padding: 0 !important;
                margin: 0 !important;
                width: 100%;
                height: 100%; 
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-color: transparent;     
            }

            img{
              padding: 0 !important;
              margin: 0 !important;
              width: 100%;
              height: 50vh;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-color: transparent;
            }
        }

        .part_name{
            width: 70%;
            display: inline-block;
            vertical-align: middle;
            p{
              margin-left: map-get($padding , twenty);
              white-space: normal;
              font-weight: bold;
              font-size: 16pt;
              color: black;
            }
           }
    
           .part_rating{
            width: 60%;
            display: inline-block;
            vertical-align: middle;

            img{
              width: 80%;
              display: inline-block;
              margin-left: map-get($padding , twenty);
            }
    
            p{
              width: 20%;
              display: inline-block;
              margin-left: 5px;
              color: $font-card ;
            }
           }
    
           .part_reviews{
            width: 40%;
            display: inline-block;
            vertical-align: middle;
            p{
              margin-left: map-get($padding , twenty);
              color: $font-card ;
              font-size: 13pt;
              text-align: center;
            }
           }
    
           .part_price{
            width: 10%;
            text-align: left;
            display: inline-block;
            vertical-align: middle;
            p{
              margin-left: map-get($padding , twenty);
              color: $font-card ;
              font-size: 13pt;
            }
           }
           .part_address
           {
            width: 90%;
            text-align: left;
            display: inline-block;
            vertical-align: middle;
            p{
              margin-left: map-get($padding , twenty);
              color: $font-card ;
              font-size: 11pt;
            }
           }
    
           .part_more{
             width: 30%;
             display: inline-block;
             vertical-align: middle;
            button{
              background: transparent;
              color: gray;
            }
          }

          .font_bold{
            
              font-size: 16pt;
              color: black;
              font-weight: bold;
          }

          .font_address{
              width: 90%;
              color: $font-card;
          }

            ////////////custom rating bar//////////////
    ul {
        padding: 0px;
      
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 20px;
          }
        }
      }
    }
    
    
}
