customcard {
    .card_content{
        border-radius: 5px;
        margin-top: 40%;
  
        .easy_img{
          width: 80%;
          margin: 0 auto;
          vertical-align: middle;
        }

        ion-card-title{
          text-align: center;
          font-weight: bold;
        }
  
        p{
          margin: 10%;
          color : map-get($colors , dark);
          font-weight: bold;
          text-align: center;
          font-size: 12pt;
        }
  
        button{
          display: block;
          vertical-align: middle;
          text-align: center;
          margin: 0 auto;
          margin-top: 20px;
          border-radius:20px ;
          width: 70%;
          height: 45px;
          font-size: 15pt;
          font-weight: bold;
          background-color: map-get($colors , welcomebutton);
        }

        .btn_second{
            background-color: transparent;
            color : map-get($colors ,dark);
        }
  
      }
}
