chatitem {



  .item {
    align-items: center;
    ion-avatar {
      position: relative;
      .profile {
        border-radius: 50%;
        overflow: hidden;
        width: 60px;
        height: 60px;
      }

      .status_online {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 20px;
        height: 20px;
      }

      .status_offline {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 20px;
        height: 20px;
      }
    }

    h2 {
      margin: 0 0 2px;
      font-size: 1.7rem;
      font-weight: bold;
    }

    h6{
      color: darkgray;
      font-size: 1.3rem;
      font-weight: bold;
    }

    p {
      font-weight: bold;
      color: $chatroom-font;
    }

    .place {
      width: 60px;
      height: 50px;
      vertical-align: middle;
    }

    [item-end] {
      margin: 0;
    }
  }

  .divider{
    width: 100%;
    height: 1px;
    background-color: map-get($colors , divider);
  }
}


.item-md.item-block .item-inner,
.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.list-md .item-input.input-has-focus:last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
}
.list-md .item-input.input-has-focus:last-child .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    box-shadow: none; 
}