<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="isFlag">

  <ion-toolbar text-center>
    <ion-title>Find & Invite Friends</ion-title>
    
    <ion-buttons *ngIf="!isFromSetting" end>
      <button *ngIf="!hasInvitedUser" (click)="onclickskipbutton()" ion-button icon-only>
        Skip
      </button>
    </ion-buttons>

    <ion-buttons *ngIf="isFromSetting" end>
        <button  (click)="onclickbackbutton()" ion-button icon-only>
            <img  color="divider" src="assets/img/cancel_setting.png">
        </button>
      </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content *ngIf="isFlag == false" style="background-image: url('assets/img/back_blur.png'); background-size: cover;" class="content">
  <customcard [data]="data_welcome" (itemBtnClick)="onclickbuttons($event)"></customcard>
</ion-content>


<ion-content *ngIf="isFlag == true" style="background-color: white ;" class="content">

  <div *ngIf="searching && isFlag" class="spinner-container">
    <ion-spinner name="bubbles">Loading</ion-spinner>
  </div>

  <!--searchbar -->
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" class="searchbar" placeholder="Search by username...">

  </ion-searchbar>

  <ion-list class="list" *ngIf="isFlag">

    <ion-item *ngFor="let item of contactList, let i = index">
      <ion-row>

        <img *ngIf="item.image != '' " src="{{item.image}}">
        <img *ngIf="item.image == ''" src="assets/img/user.png">

        <ion-col col-80>
          <p>{{item.displayName}}</p>
        </ion-col>

        <ion-col *ngIf="!item.isInvited" col-20>
          <button color="signupbutton" *ngIf="!item.isHasApp" ion-button float-right (click)="onclickAddButton(item.phoneNumbers, i)">
            + Invite</button>
          <button color="signupbutton" *ngIf="item.isHasApp" ion-button float-right (click)="onclickAddButton(item.phoneNumbers, i)">
            + Add</button>
        </ion-col>

        <ion-col *ngIf="item.isInvited" col-20>
          <button color="primary"  ion-button float-right> Added </button>
        </ion-col>

      </ion-row>
    </ion-item>

  </ion-list>


</ion-content>

<ion-footer *ngIf="isFlag">
  <button *ngIf="hasInvitedUser && !isFromSetting " class="botttom_button" (click)="onclickOkbutton()" ion-button>
    OK
  </button>
</ion-footer>